node_modules
**/node_modules
**/dist
**/.angular
.git
.github
.gitlab-ci.yml
apps/pwa/ios
apps/pwa/android
apps/pwa/dist
apps/pwa/e2e
apps/api/test
apps/api/dist
**/*.md
docs
infra
scripts
.env
**/.env
coverage
.pnpm-store
**/*.map
**/*.spec.ts
**/tsconfig.tsbuildinfo
